:root {
	--main-bg-color: #000000;
	--search-bg: #121212;
	--search-fg: #b8b8b8;
	--search-border: #010101;
	--category-color: #323232;
	--link-color: #b8b8b8;

	--category-highlight: rgba(255,255,255,0.05);
	--item-highlight: rgba(255,255,255,0.1);
}

* {
	font-family: "RobotoMono Nerd Font", "Roboto Mono", sans-serif;
}

body {
	background-color: var(--main-bg-color);
	color: var(--category-color);
}

input {
	width: 100%;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: var(--main-bg-color);
	border-color: var(--search-border);
	color: var(--search-fg);
}

input:focus {
	outline: none;
	background-color: var(--search-bg);
}

::placeholder {
	color: var(--category-color);
	opacity: 1;
}

img {
	max-width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	width: 50%;
	display: block;
	border-radius: 10px;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

.grid-container {
	display: grid;
	padding: 10px;
	border-radius: 10px;


	/**
	* User input values.
	*/
	--grid-layout-gap: 10px;
	--grid-column-count: 12;
	--grid-item--min-width: 128px;

	/**
	* Calculated values.
	*/
	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
	--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
	grid-gap: var(--grid-layout-gap);
}

.grid-container:hover {
	background-color: var(--category-highlight);
}

.grid-item {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 96px;
	border-radius: 10px;
}

.grid-item:hover {
	background-color: var(--item-highlight);
}

.caption {
	display: block;
	text-align: center;
}